<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://www.springframework.org/schema/beans
          http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
          http://www.springframework.org/schema/security
          http://www.springframework.org/schema/security/spring-security-3.2.xsd">
    <!--<global-method-security pre-post-annotations="enabled"/>-->
    <http auto-config="true" use-expressions="true"
          access-denied-page="/error">
        <form-login login-page="/loginform"
                    authentication-failure-url="/loginform?error=1"
                login-processing-url="/login"
                authentication-success-handler-ref="customAuthenticationSuccessHandler"
                default-target-url="/"/>
        <logout logout-url="/logout" logout-success-url="/"/>

        <intercept-url pattern="/admin/**" access="hasRole('ROLE_ADMIN')"/>
        <intercept-url pattern="/rest/**" access="hasRole('ROLE_APPLICATION')"/>
        <!--<intercept-url pattern="/dba**" access="hasRole('ADMIN') and hasRole('DBA')" />-->
        <intercept-url pattern="/user/**" access="hasRole('ROLE_USER')" />
        <intercept-url pattern="/**" access="hasAnyRole('ROLE_ANONYMOUS','ROLE_USER')" />
        <anonymous username="guest" granted-authority="ROLE_ANONYMOUS"/>
        <!--<form-login  authentication-failure-url="/user/error" />-->
    </http>
    <beans:bean id="customAuthenticationSuccessHandler" class="org.tylubz.security.CustomAuthenticationSuccessHandler" />

    <authentication-manager alias="authenticationManager">
    <authentication-provider user-service-ref="userDetailsServiceImpl">
        <password-encoder ref="encoder" />
    </authentication-provider>
    </authentication-manager>
    <beans:bean id="encoder" class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder"/>

</beans:beans>